$fontColor: #46562c;
$linkColor: #3b5bd0;
$backColor: #cfad53;
$bodyColor: #e3cf9a;

@font-face {
	font-family: webglyphs;
	src: url('font/webglyphs.eot');
	src: url('font/webglyphs.woff') format('woff'),
		url('font/webglyphs.ttf') format('truetype');
}
@font-face {
	font-family: allura;
	src: url('font/allura.eot');
	src: url('font/allura.svg#allura') format('svg'),
		url('font/allura.woff') format('woff'),
		url('font/allura.ttf') format('truetype');
}
body{
	padding: 0;
	margin: 0;
	color: $fontColor;
	background-color: $backColor;
	font-family: 'Exo 2';
}
h1, h2{
	padding-left: 60px;
	font-family: 'allura';
	font-size: 1.8em;
	background:	url('img/leaf.png') 8px -3px no-repeat;
}
a{
	color: $linkColor;
}
#content{
	width: 520px;
	margin: 220px auto;
	padding-bottom: 390px;
}
#page{
	min-height: 1192px;
	background:
		url('img/head.jpg') top no-repeat,
		url('img/foot.jpg') bottom no-repeat,
		url('img/body.jpg') center 585px repeat-y,
		url('img/btmgrad.jpg') bottom repeat-x,
		url('img/topgrad.jpg') top repeat-x
		$bodyColor;
}
.floatleft{
	float: left;
	margin-right: 5px;
}
.clr{
	clear: both;
}
