$fontColor: #46562c;
$linkColor: #3b5bd0;
$backColor: #cfad53;
$bodyColor: #e3cf9a;

@font-face {
	font-family: webglyphs;
	src: url('font/webglyphs.eot');
	src: url('font/webglyphs.woff') format('woff'),
		url('font/webglyphs.ttf') format('truetype');
}
@font-face {
	font-family: allura;
	src: url('font/allura.eot');
	src: url('font/allura.woff') format('woff'),
		url('font/allura.ttf') format('truetype');
}
body{
	padding: 0;
	margin: 0;
	color: $fontColor;
	background-color: $backColor;
	font-family: 'Exo 2';
	background:
		url('img/topgrad.jpg') top repeat-x,
		url('img/btmgrad.jpg') bottom repeat-x
		$bodyColor;
}
h1, h2{
	padding-left: 60px;
	font-family: 'allura';
	font-size: 1.8em;
	background:	url('img/leaf.png') 8px -3px no-repeat;
	margin: 28px 0 10px 0;
}
p{
	margin: 10px 0 10px 0;
}
a{
	color: $linkColor;
}
#page{
	width: 1280px;
	min-height: 1192px;
	margin: auto;
	position: relative;
	background:
		url('img/head.jpg') top no-repeat,
		url('img/foot.jpg') bottom no-repeat,
		url('img/body.jpg') center 585px repeat-y,
		$bodyColor;
}
#content{
	width: 520px;
	margin: 0 0 0 390px;
	padding-bottom: 360px;
}
#gem{
	position: absolute;
	top: 161px;
	left: 249px;
	display: none;
}
.toplist{
	position: absolute;
	top: 20px;
	right: 20px;
}
.floatleft{
	float: left;
	margin-right: 5px;
}
.clr{
	clear: both;
}
