$menuColor: #490c58;

#menu{
	width: 600px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	position: relative;
	font-size: 1.2em;
	font-family: arial;
	a{
		color: $menuColor;
		text-decoration: none;
	}
	li{
		position: absolute;
	}
	li:nth-child(1){
		top: 130px;
		left: 30px;
		a.active,
		a:hover{
			color: #e32222;
		}
	}
	li:nth-child(2){
		top: 76px;
		left: 150px;
		a.active,
		a:hover{
			color: #e5357b;
		}
	}
	li:nth-child(3){
		top: 26px;
		left: 240px;
		a.active,
		a:hover{
			color: #3b5bd0;
		}
	}
	li:nth-child(4){
		top: 130px;
		left: 240px;
		a.active,
		a:hover{
			color: #3ac7b5;
		}
	}
	li:nth-child(5){
		top: 26px;
		left: 30px;
		a.active,
		a:hover{
			color: #d03b42;
		}
	}
	li:nth-child(6){
		top: 76px;
		left: 320px;
		a.active,
		a:hover{
			color: #c138de;
		}
	}
	li:nth-child(7){
		top: 130px;
		left: 420px;
		a.active,
		a:hover{
			color: #24bf3a;
		}
	}
}
