#menu{
	width: 600px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	position: relative;
	font-family: allura;
	font-size: 2em;
	text-shadow: 0 0 3px #404b2e;
	li{
		position: absolute;
	}
	a{
		color: #6f309f;
		text-shadow: 0 0 3px #3d105f;
		text-decoration: none;
	}
		a.active,
		a:hover{
			color: #c00000;
			text-shadow: 0 0 2px #900000;
		}
	li:nth-child(1){
		top: 30px;
		left: 76px;
	}
	li:nth-child(2){
		top: 30px;
		left: 314px;
	}
	li:nth-child(3){
		top: 85px;
		left: 60px;
	}
	li:nth-child(4){
		top: 85px;
		left: 265px;
	}
	li:nth-child(5){
		top: 85px;
		left: 364px;
	}
	li:nth-child(6){
		top: 140px;
		left: 50px;
	}
	li:nth-child(7){
		top: 140px;
		left: 235px;
	}
	li:nth-child(8){
		top: 140px;
		left: 460px;
	}
}
