{block content}
<h1 n:block=title>Kontakt</h1>
<ul id="contact">
	<li class="person" title="Kontaktní osoba"><strong>Zdeňka Amarhea</strong></li>
	<li class="mail" title="Email"><a href="mailto:amarhea@seznam.cz">Amarhea@seznam.cz</a></li>
	<li class="phone" title="Telefon">+420 602 748 729</li>
</ul>
<p>
	Nemám pevnou provozovnu. Akce probíhají na různých krátkodobě pronajatých místech.
</p>
