@font-face {
  font-family: webglyphs;
  src: url("font/webglyphs.eot");
  src: url("font/webglyphs.woff") format("woff"), url("font/webglyphs.ttf") format("truetype");
}
@font-face {
  font-family: allura;
  src: url("font/allura.eot");
  src: url("font/allura.svg#allura") format("svg"), url("font/allura.woff") format("woff"), url("font/allura.ttf") format("truetype");
}
body {
  padding: 0;
  margin: 0;
  color: #46562c;
  background-color: #cfad53;
}

h1 {
  margin-left: 100px;
  font-size: 22px;
}

a {
  color: #3b5bd0;
}

#content {
  width: 520px;
  margin: 220px auto;
  padding-bottom: 390px;
}

#page {
  min-height: 1192px;
  background: url("img/head.jpg") top no-repeat, url("img/foot.jpg") bottom no-repeat, url("img/body.jpg") center 585px repeat-y, url("img/btmgrad.jpg") bottom repeat-x, url("img/topgrad.jpg") top repeat-x #e3cf9a;
}

.floatleft {
  float: left;
  margin-right: 5px;
}

.clr {
  clear: both;
}

#menu {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  font-family: allura;
  font-size: 2em;
  text-shadow: 0 0 3px #404b2e;
}
#menu li {
  position: absolute;
}
#menu a {
  color: #6f309f;
  text-shadow: 0 0 3px #3d105f;
  text-decoration: none;
}
#menu a.active,
#menu a:hover {
  color: #c00000;
  text-shadow: 0 0 2px #900000;
}
#menu li:nth-child(1) {
  top: 30px;
  left: 76px;
}
#menu li:nth-child(2) {
  top: 30px;
  left: 314px;
}
#menu li:nth-child(3) {
  top: 85px;
  left: 60px;
}
#menu li:nth-child(4) {
  top: 85px;
  left: 265px;
}
#menu li:nth-child(5) {
  top: 85px;
  left: 364px;
}
#menu li:nth-child(6) {
  top: 140px;
  left: 50px;
}
#menu li:nth-child(7) {
  top: 140px;
  left: 460px;
}

#contact {
  list-style: none;
  padding: 0;
}

#contact li {
  margin-top: 4px;
}

#contact li:before {
  color: #999999;
  position: relative;
  font-family: webglyphs;
  font-weight: normal;
  margin-right: 8px;
  cursor: default;
}

.person:before {
  content: '\f040';
  top: 2px;
}

.mail:before {
  content: '\f028';
  top: 3px;
}

.phone:before {
  content: '\f0e8';
  top: 1px;
}

a[href^="error:"] {
  background: red;
  color: white;
}

.flash {
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.flash.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}

.flash.error {
  background: #FFB6C1;
  color: #8a1f11;
  border-color: #8a1f11;
}
