<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{include title|striptags|strip}</title>
		<link rel="stylesheet" href="{$basePath}/style.css">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		<div id="page">
			<ul id="menu">
				<li><a n:class="$presenter->isLinkCurrent('tanecniKurzy') ? active" n:href="Web:tanecniKurzy">Tancem k harmonii</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kouzelneAmulety') ? active" n:href="Web:kouzelneAmulety">Kouzelné amulety</a></li>
				<li><a n:class="$presenter->isLinkCurrent('prostorProDusi') ? active" n:href="Web:prostorProDusi">Prostor pro duši</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kurzy') ? active" n:href="Web:kurzy">Kurzy</a></li>
				<li><a n:class="$presenter->isLinkCurrent('hvezdyVypravi') ? active" n:href="Web:hvezdyVypravi">Hvězdy vypráví</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kontakt') ? active" n:href="Web:kontakt">Kontakt</a></li>
				<li><a n:class="$presenter->isLinkCurrent('amarhea') ? active" n:href="Web:amarhea">Amarhea</a></li>
				<li><a n:class="$presenter->isLinkCurrent('galerie') ? active" n:href="Web:galerie">Galerie</a></li>
			</ul>
			<div class="clr">.</div>
			<div id="content">
				{block content|indent:2}
				{/block}
			</div>
		</div>
		{*block scripts}
				<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
				<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/javascript.js"></script>
		{/block*}
	</body>
</html>
