<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{include title|striptags|strip}</title>
		<link rel="stylesheet" href="{$basePath}/style.css">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		<div id="page">
			<ul id="menu">
				<li><a n:class="$presenter->isLinkCurrent('tanecniKurzy') ? active" n:href="Web:tanecniKurzy">Kurz tance a her</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kouzelneAmulety') ? active" n:href="Web:kouzelneAmulety">Kouzelné amulety</a></li>
				<li><a n:class="$presenter->isLinkCurrent('prostorProDusi') ? active" n:href="Web:prostorProDusi">Prostor pro duši</a></li>
				<li><a n:class="$presenter->isLinkCurrent('amarhea') ? active" n:href="Web:amarhea">Amarhea</a></li>
				<li><a n:class="$presenter->isLinkCurrent('hvezdyVypravi') ? active" n:href="Web:hvezdyVypravi">Hvězdy vypráví</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kontakt') ? active" n:href="Web:kontakt">Kontakt</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kurzyAstroKonstelace') ? active" n:href="Web:kurzyAstroKonstelace">Kurz Astro-konstelací</a></li>
				<li><a n:class="$presenter->isLinkCurrent('galerie') ? active" n:href="Web:galerie">Galerie</a></li>
			</ul>
			<div id="content">
				{block content|indent:2}
				{/block}
			</div>
			<a class="toplist" n:if="$toplist" href="http://www.toplist.cz/stat/1707344" target="_blank">
				<script language="JavaScript" type="text/javascript">
					document.write('<img src="https://toplist.cz/count.asp?id=1707344&logo=mc&http=' + escape(document.referrer) + '&t=' + escape(document.title) + '&wi=' + escape(window.screen.width) + '&he=' + escape(window.screen.height) + '&cd=' + escape(window.screen.colorDepth) + '" width="88" height="60" border=0 alt="TOPlist" />');
				</script>
				<noscript>
				<img src="https://toplist.cz/count.asp?id=1707344&logo=mc" border="0" alt="TOPlist" width="88" height="60" />
				</noscript>
			</a>
			<img id="gem" src="img/gem.png" />
		</div>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="{$basePath}/javascript.js"></script>
		{block scripts}{/block}
	</body>
</html>

{define gallery}
{foreach $gallery as $section}
	<h2>{$section['name']}</h2>
	{ifset $section['dir']}
		{var $images = $presenter->getImages($dir, $section['dir'])}
		<div class="gallery">
			<a n:foreach="$images as $image" href="{$image['path']}" rel="g[{$section['dir']}]">
				<img src="{$image['path']}" alt="{$image['title']}"{ifset $image['title']} title="{$image['title']}"{/ifset} />
			</a>
		</div>
		<div class="clr"></div>
	{/ifset}
{/foreach}
{/define}
