<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{include title|striptags|strip}</title>
		<link rel="stylesheet" href="{$basePath}/style.css">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		<div id="page">
			<ul id="menu">
				<li><a n:class="$presenter->isLinkCurrent('tanecniKurzy') ? active" n:href="Web:tanecniKurzy">Kurzy Tanec-hry</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kouzelneAmulety') ? active" n:href="Web:kouzelneAmulety">Kouzelné amulety</a></li>
				<li><a n:class="$presenter->isLinkCurrent('prostorProDusi') ? active" n:href="Web:prostorProDusi">Prostor pro duši</a></li>
				<li><a n:class="$presenter->isLinkCurrent('amarhea') ? active" n:href="Web:amarhea">Amarhea</a></li>
				<li><a n:class="$presenter->isLinkCurrent('hvezdyVypravi') ? active" n:href="Web:hvezdyVypravi">Hvězdy vypráví</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kontakt') ? active" n:href="Web:kontakt">Kontakt</a></li>
				<li><a n:class="$presenter->isLinkCurrent('kurzyAstroKonstelace') ? active" n:href="Web:kurzyAstroKonstelace">Kurzy Astro-konstelace</a></li>
				<li><a n:class="$presenter->isLinkCurrent('galerie') ? active" n:href="Web:galerie">Galerie</a></li>
			</ul>
			<div class="clr">.</div>
			<div id="content">
				{block content|indent:2}
				{/block}
			</div>
		</div>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="{$basePath}/javascript.js"></script>
		{block scripts}{/block}
		{*		<script src="//nette.github.io/resources/js/netteForms.min.js"></script>*}
	</body>
</html>

{define gallery}
{foreach $gallery as $section}
	<h2>{$section['name']}</h2>
	{ifset $section['dir']}
		{var $images = $presenter->getImages($dir, $section['dir'])}
		<div class="gallery">
			<a n:foreach="$images as $image" href="{$image['path']}" rel="g[{$section['dir']}]">
				<img src="{$image['path']}" alt="{$image['title']}"{ifset $image['title']} title="{$image['title']}"{/ifset} />
			</a>
		</div>
		<div class="clr"></div>
	{/ifset}
{/foreach}
{/define}
